body {
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main {
  text-align: center;
}
.footer-icons li a.threads {
  background: url(../img/threads-white.svg) no-repeat bottom;
  background-size: 20px;
}