@use "../../../node_modules/@undp/design-system/stories/assets/scss/breakpoints";

// Simplest version of the header with responsive Language switcher.
.country-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .header {
    background: transparent;
    box-shadow: none;
    position: absolute;

    @include breakpoints.devicebreak(medium) {
      background-size: auto;
    }

    .dropdown-language {
      display: block;

      ul {
        left: auto;
        right: 0;
      }

      span {
        display: none;

        @include breakpoints.devicebreak(medium) {
          display: inline-block;
        }
      }
    }

    .top-right> :last-child {
      margin: 0;
    }
  }
}

main {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
