<footer class="footer">
  <div class="grid-x">
    <div class="cell medium-10 medium-offset-1">
      <div class="grid-x footer-top">
        <div class="cell medium-5">
          <div class="footer-logo">
            <a href="https://www.undp.org{{#ifequal lang "en"}}{{else}}/{{lang}}{{/ifequal}}">
              <img src="{{cdn}}images/{{logo}}-logo-white.svg" alt="UNDP Logo" />
            </a>
            <h5 class="" tabindex="0" data-viewport="false">{{{undp.html}}}</h5>
          </div>
        </div>
        <div class="cell medium-5 show-large">
          <ul class="footer-icons">
            <li>
              <a href="{{content.footer.socialLinks.twitter}}" class="twitter-x" title="Twitter">twitter</a>
            </li>
            <li>
              <a href="{{content.footer.socialLinks.linkedin}}" class="linkedin" title="LinkedIn">linkedIn</a>
            </li>
            <li>
              <a href="{{content.footer.socialLinks.facebook}}" class="facebook" title="Facebook">facebook</a>
            </li>
            <li>
              <a href="{{content.footer.socialLinks.threads}}" class="threads" title="Threads">threads</a>
            </li>
            <li>
              <a href="{{content.footer.socialLinks.instagram}}" class="instagram" title="Instagram">instagram</a>
            </li>
            <li>
              <a href="{{content.footer.socialLinks.youtube}}" class="youtube" title="Youtube">youtube</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-x footer-bottom">
        <div class="cell medium-5">
          <p tabindex="0">&copy; 2025 {{ undp.text }}</p>
        </div>
        <div class="cell medium-6">
          <ul class="footer-lists">
            <li>
              <a href="{{content.footer.terms.url}}">{{content.footer.terms.text}}</a>
            </li>
          </ul>
          <div class="show-small">
            <ul class="footer-icons">
              <li>
                <a href="{{content.footer.socialLinks.twitter}}" class="twitter-x" title="Twitter">twitter</a>
              </li>
              <li>
                <a href="{{content.footer.socialLinks.linkedin}}" class="linkedin" title="LinkedIn">linkedIn</a>
              </li>
              <li>
                <a href="{{content.footer.socialLinks.facebook}}" class="facebook" title="Facebook">facebook</a>
              </li>
              <li>
                <a href="{{content.footer.socialLinks.threads}}" class="threads" title="Threads">threads</a>
              </li>
              <li>
                <a href="{{content.footer.socialLinks.instagram}}" class="instagram" title="Instagram">instagram</a>
              </li>
              <li>
                <a href="{{content.footer.socialLinks.youtube}}" class="youtube" title="Youtube">youtube</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-rc.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/EasePack.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11.2.10/swiper-bundle.min.js"></script>
{{#each @root.ds.js}}
<script src="{{../cdn}}js/{{this}}"></script>
{{/each}}
<script src="{{cdn}}js/init.js"></script>
<script src="{{@root.root}}assets/js/app.js"></script>