<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-rc.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/EasePack.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11.2.10/swiper-bundle.min.js"></script>
<script src="{{@root.root}}assets/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.4.6/js/init.js" defer></script>